/* ----------global-css--------- */
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
ul li
{
    list-style: none;
}
a
{
    text-decoration: none;
}
p,button,li
{
    font-family: 'Alegreya sans' , sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Alegreya' ,serif;
}
.clear
{
    clear: both;
}
.panel
{
    position: fixed;
    top: 300px;
    right: 0px;
    padding: 10px;
    background-color: white;
    text-align: center;
    line-height: 42px;
    font-size: 22px;
}
.panel  i
{
    color: #999;
    padding: 0px;
    margin: 0px;
}
.panel i:hover
{
    color: rgb(46, 46, 241);
}
.scroll
{
    width: 35px;
    height: 50px;
    border: 1px solid;
    border-radius: 40%;  
    margin: auto;
    margin-top: 100px; 
    cursor: pointer;
}
/* ---------------nav---------- */
nav
{
    padding:0px 150px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
}
.logo img
{
    width: 180px;
}
.logo
{
    float: left;
}
.links
{
    float: right;
}
.links li
{
    display: inline-block;
    padding:20px;
}
.links a
{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
/* --------------------=home------------------- */
.home
{
    background-image: url(./photo/photo-home/photo\ home3.jpg);
    background-position: bottom;
    background-size: cover;
    height: 290px;
    color: white;
    text-align: center;
    padding-top:100px ;
    line-height: 77px;
}
.home h1
{
    font-size: 56px;
}
.home p
{
    font-size: 18px;
}
/* ---------------about------------ */
.about
{
    width: 80%;
    margin: auto;
    padding: 80px 0px;
    line-height: 34px;
}
.about-img
{
    width: 50%;
    float: left;
}
.about-img img
{
    width: 100%;
}
.about-details
{
    width: 50%;
    float: left;
    line-height: 30px;
    padding: 80px 20px;
}
.about-details h2
{
    margin: 20px 0px;
    font-size: 32px;
}
.about-details p
{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(96, 96, 96);
    font-family: "Alegreya Sans";

}
/* ------------------------Why our Bakery?---------------------- */
#our-bakery
{
    padding: 50px 0px 80px 0px;
    background-color:  rgb(236, 236, 236);
}
.bakery
{
    width: 80%;
    margin: auto;
}
.bakery-centre
{
    text-align: center;
    padding: 20px 0px; 
    line-height: 30px;
}
.bakery-centre i
{
    margin-bottom:20px;
    font-size: 40px;
    color: rgb(142, 119, 84);
}
.bakery-centre h2
{
    font-size:30px ;
    line-height: 41px;
}
.bakery-centre p
{
    font-size: 17px; 
    line-height:32px ;
    color:rgb(136, 136, 136) ;
}
.details
{
    width: 30.33%;
    float: left;
    margin: 10px;
}
.details h3
{
    font-size: 18px;
    margin-bottom: 20px;
    color:rgb(104, 104, 104);
}
.details p
{
    font-size: 18px;
    line-height: 25px;
    color: rgb(104, 104, 104);
}
/* ---------------------------footer----------------- */
.footer
{
background-color: rgb(64,61,56);
color: RGB(104, 104, 104);
}
.footer-data
{
    width: 80%;
    margin: auto;
    /* padding: 60px; */
    line-height: 35px;
}
.footer-details
{
    width: 25%;
    float: left;
    padding: 40px;
}
.footer-details h3
{
    color: whitesmoke;
}
.footer-details li
{
    list-style: none;
}
.footer-details p
{
    font-size: 15px;
    margin-bottom: 10px;
}
.footer-end
{
    width: 50%;
    margin: auto;
    text-align: center;
    line-height: 30px;
    padding: 40px;
}
#footer
{
    background-color: rgb(53,51,48);
    color: RGB(104, 104, 104);
}
.line
{
    width: 200px;
    height: 1px;
    background-color: RGB(104, 104, 104);
}
.footer-end li
{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 30px;
}

